<?xml version="1.0"?>
<launch>
    <node pkg="tca" type="tca_node" name="tca_node" output="screen">
        <rosparam>
            num_paths: 1
            fixed_frame: camera_link
            occupancy_topic: /fogg_grid
            odom_topic: /odom
            goal_topic: /move_base_simple/goal
        </rosparam>
    </node>
    <node pkg="rostopic" type="rostopic" name="odom_pub"
        args="pub -r 10 odom nav_msgs/Odometry
        '{header: {frame_id: camera_link},
        pose: {pose: {position: {x: 0.2, y: 0.2}}}}'"/>
</launch>
